{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 text-4xl mb-6 mt-3 text-center font-bold">Mot de passe oublié</h1>

    <div class="border-solid border-2 rounded-md p-4">
        {{ form_start(form) }}
            <div class="mb-2">
                {{ form_label(form.email, 'Email', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.email, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'Email'} }) }}
                {% if form_errors(form.email) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.email) }}</div>
                {% endif %}
            </div>
            <input class="submit-primary" type="submit" value="Envoyer" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
