{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 text-4xl mb-6 mt-3 text-center font-bold">Inscription</h1>

    <div class="border-solid border-2 rounded-md p-4">
        {{ form_start(form) }}
            <div class="mb-2">
                {{ form_label(form.username, 'Nom d\'utilisateur', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.username, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'Username'} }) }}
                {% if form_errors(form.username) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.username) }}</div>
                {% endif %}
            </div>  
            <div class="mb-2">
                {{ form_label(form.firstname, 'Prénom', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.firstname, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'Jean'} }) }}
                {% if form_errors(form.firstname) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.firstname) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_row(form.profilePicture)}}
                {% if form_errors(form.profilePicture) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.profilePicture) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.lastname, 'Nom', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.lastname, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'Dupont'} }) }}
                {% if form_errors(form.lastname) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.lastname) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.email, 'Email', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.email, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'mail@mail.com'} }) }}
                {% if form_errors(form.email) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.email) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.password, 'Mot de passe', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.password, 
                { 'attr': {'class': 'input-primary',
                'placeholder': '**********'} }) }}
                {% if form_errors(form.password) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.password) }}</div>
                {% endif %}
            </div>

            <input class="submit-primary" type="submit" value="S'inscrire" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
