{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
<div class="mx-auto max-w-xl flex flex-col items-center justify-center mt-10">
    <h1 class="h3 text-4xl mb-6 mt-3 text-center font-bold">Réinitialisez votre mot de passe</h1>

    <div class="w-1/2 border-solid border-2 rounded-md p-4">
        {{ form_start(form) }}
            <div class="mb-2">
                {{ form_label(form.password, 'Mot de passe', { 'label_attr' : { 'class' : 'block text-gray-700 text-sm mb-1'}}) }}
                {{ form_widget(form.password, 
                { 'attr': {'class': 'form-control border-t-0 border-l-0 border-r-0 border-solid border-2 w-full p-1 text-center focus:border-blue-200 focus:outline-none',
                'placeholder': 'Mot de passe'} }) }}
                {% if form_errors(form.password) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.password) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.confirm_password, 'Confirmer le mot de passe', { 'label_attr' : { 'class' : 'block text-gray-700 text-sm mb-1'}}) }}
                {{ form_widget(form.confirm_password, 
                { 'attr': {'class': 'form-control border-t-0 border-l-0 border-r-0 border-solid border-2 w-full p-1 text-center focus:border-blue-200 focus:outline-none',
                'placeholder': 'Confirmer le mot de passe'} }) }}
                {% if form_errors(form.confirm_password) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.confirm_password) }}</div>
                {% endif %}
            </div>
            <input class="mt-4 pt-2 pb-2 pl-4 pr-4 bg-blue-200 rounded-lg hover:cursor-pointer" type="submit" value="Envoyer" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}