{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 text-4xl mb-6 mt-3 text-center font-bold">Réinitialisez votre mot de passe</h1>

    <div class="w-1/2 border-solid border-2 rounded-md p-4">
        {{ form_start(form) }}
            <div class="mb-2">
                {{ form_label(form.password, 'Mot de passe', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.password, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'Mot de passe'} }) }}
                {% if form_errors(form.password) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.password) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.confirm_password, 'Confirmer le mot de passe', 
                { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.confirm_password, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'Confirmer le mot de passe'} }) }}
                {% if form_errors(form.confirm_password) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.confirm_password) }}</div>
                {% endif %}
            </div>
            <input class="submit-primary" type="submit" value="Envoyer" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}