{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
<div class="content-container">
    <div class="flex flex-row justify-center flex-wrap gap-10 px-10">
        {% for trick in tricks %}
            <div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg">
                {# <a href="{{ path('app_trick_show', {slug: trick.slug}) }}">
                    <img class="object-cover w-full h-56"  alt="{{ trick.name }}" 
                    src="{{ trick.images is empty ? asset('tricks_images/' ~ 'default-image.jpg') : asset('tricks_images/' ~ trick.images[0].name) }}">
                </a> #}

                <a href="#">
                    <img class="object-cover w-full h-56"  alt="{{ trick.name }}" 
                    src="{{ trick.images is empty ? asset('tricks_images/' ~ 'default-image.jpg') : asset('tricks_images/' ~ trick.images[0].name) }}">
                </a>

                <div class="p-5 text-center">
                    {% for categorie in trick.categories %}
                        <span>{{ categorie.name }}</span>
                        {% if loop.last == false %}
                            <span>/</span>
                        {% endif %}
                    {% endfor %}
                    {# <a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="block text-xl font-bold text-gray-800 hover:opacity-70 duration-300" tabindex="0" role="link">{{ trick.name }}</a> #}
                    <a href="#" class="block text-xl font-bold text-gray-800 hover:opacity-70 duration-300" tabindex="0" role="link">{{ trick.name }}</a>
                    <span class="text-sm text-gray-700 w-4/5 block mx-auto">{{ trick.description|length > 50 ? trick.description|slice(0, 100) ~ '...' : trick.description }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="flex justify-end gap-x-4">
        {% if page > 1 %}
            <a href="{{ path('app_home', {page: page - 1}) }}" class="button-primary">Page précédente</a>
        {% endif %}
        {% if page < maxPages %}
            <a href="{{ path('app_home', {page: page + 1}) }}" class="button-primary">Page suivante</a>
        {% endif %}
    </div>

</div>
{% endblock %}