{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
<div class="content-container">
    <div class="flex flex-row justify-center flex-wrap gap-10 px-10">
        {% for trick in tricks %}
            <div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg relative">
                <a href="{{ path('app_trick_show', {slug: trick.slug}) }}">
                    <img class="object-cover w-full h-56"  alt="{{ trick.name }}" 
                    src="{{ trick.images is empty ? asset('images/' ~ 'default-image.jpg') : asset('images/' ~ trick.images[0].name) }}">
                </a>

                <div class="p-5 text-center">
                    {% for categorie in trick.categories %}
                        <span>{{ categorie.name }}</span>
                        {% if loop.last == false %}
                            <span>/</span>
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="block text-xl font-bold text-gray-800 hover:opacity-70 duration-300" tabindex="0" role="link">{{ trick.name }}</a>
                    <span class="text-sm text-gray-700 w-4/5 block mx-auto">{{ trick.description|length > 50 ? trick.description|slice(0, 100) ~ '...' : trick.description }}</span>
                </div>

                {% if app.user %}
                    <div class="flex justify-around items-center pb-5 absolute right-4 top-4">
                        <a href="{{ path('app_tricks_edit', {'slug': trick.slug}) }}" class="bg-blue-600 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-300 duration-300">Modifier</a>
                        <a href="{{ path('app_tricks_delete', {'slug': trick.slug}) }}" class="bg-red-600 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-300 duration-300 ml-4">Supprimer</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="flex justify-end gap-x-4">
        {% if page > 1 %}
            <a href="{{ path('app_home', {page: page - 1}) }}" class="button-primary">Page précédente</a>
        {% endif %}
        {% if page < maxPages %}
            <a href="{{ path('app_home', {page: page + 1}) }}" class="button-primary">Page suivante</a>
        {% endif %}
    </div>

</div>
{% endblock %}
