{% extends 'base.html.twig' %}

{% block title %}Nouveau trick{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 text-4xl mb-6 mt-3 text-center font-bold">Nouveau trick</h1>
    
    <div class="w-full border-solid border-2 rounded-md p-4">
    {{ form_start(form) }}
            <div class="mb-2">
                {{ form_label(form.name, 'Nom du tricks', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.name, 
                { 'attr': {'class': 'input-primary',
                'placeholder': 'BackFlip'} }) }}
                {% if form_errors(form.name) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.name) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.description, 'Description du tricks', { 'label_attr' : { 'class' : 'label-primary'}}) }}
                {{ form_widget(form.description, 
                { 'attr': {'class': 'input-primary' }}) }}
                {% if form_errors(form.description) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.description) }}</div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form_label(form.categories, 'Catégories', { 'label_attr' : { 'class' : ''}}) }}
                {{ form_widget(form.categories, 
                { 'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-gray-800 focus:border-gray-800 sm:text-sm' }}) }}
                {% if form_errors(form.categories) %}
                    <div class="text-red-500 text-sm">{{ form_errors(form.categories) }}</div>
                {% endif %}
            </div>
            {# Images #}
            <div class="mb-2">
                <div class="image-preview flex">
                </div>
                <ul class="images"
                data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                </ul>
                {% for image in form.images.children %}
                    {{ form_widget(image, { 'attr': {'class': image.vars.id } }) }}
                {% endfor %}
                <button type="button" class="add_image_item button-primary add-images" data-collection-holder-class="images">Ajouter une image</button>
            </div>
            <div class="mb-2 hidden">
                {% if form.images.children is empty %}
                    {{ form_row(form.images) }}
                {% endif %}
            </div>
            {# Vidéos #}
            <div class="mb-2">
                <div class="video-preview flex flex-wrap">
                </div>
                <ul class="videos"
                data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                </ul>
                {% for video in form.videos.children %}
                    {{ form_widget(video, { 'attr': {'class': video.vars.id } }) }}
                {% endfor %}
                <button type="button" class="add_video_item button-primary add-videos" data-collection-holder-class="videos">Ajouter une vidéos</button>
            </div>
            <div class="mb-2 hidden">
                {% if form.videos.children is empty %}
                    {{ form_row(form.videos) }}
                {% endif %}
            </div>
            <input class="submit-primary" type="submit" value="Créer" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
