{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<div class="content-container">
    <div class="text-left">
        <span><a href="{{ path('app_home') }}" class="hover:text-blue-600 duration-300 font-bold">Retour à l'accueil</a></span>
    </div>
    <div class="text-left">
        <span>Publié le {{ trick.publishDate|date('d/m/Y') }}</span>
    </div>
    <div class="text-left">
        {% if trick.categories|length > 0 %}
            <span>Catégories : </span>
            {% for categorie in trick.categories %}
                <a href="{{ path('app_edit_category', {'id': categorie.id}) }}" class="hover:text-blue-600 duration-300">{{ categorie.name }}</a>
                {% if loop.last == false %}
                    <span>|</span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="h-screen flex flex-col justify-center items-center pt-4 pb-14">

            <div class="w-full h-full relative" x-data="{ activeSlide: 0, slides: {{ tricksPreview|json_encode }} }">
                <!-- Slides -->
                <template x-for="(slide, index) in slides" :key="index">
                    <div x-show="activeSlide === index" class="h-full font-bold text-5xl flex items-center rounded-lg" x-effect="console.log(index)">
                        <!-- If slide contains '/embed/', create an iframe, otherwise create an image -->
                        <template x-if="slide.includes('/embed/')">
                            <iframe class="w-full h-full rounded-lg" :src="slide" frameborder="0" allowfullscreen></iframe>
                        </template>
                        <template x-if="!slide.includes('/embed/')">
                            <img class="w-full h-full object-cover object-center rounded-lg" :src="'{{ asset('images/') }}' + slide" alt="slide">
                        </template>
                    </div>
                </template>

            {% if tricksPreview|length > 1 %}
            
            <!-- Prev/Next Arrows -->
            <div class="absolute inset-0 flex">
                <div class="flex items-end justify-start w-1/2">
                    <button 
                    class="text-blue-600 font-bold hover:text-blue-300 duration-300 text-5xl w-max h-max translate-y-full"
                    x-on:click="activeSlide = activeSlide === 0 ? slides.length - 1 : activeSlide - 1">
                    &#8592;
                    </button>
                </div>
                <div class="flex items-end justify-end w-1/2">
                    <button 
                    class="text-blue-600 font-bold hover:text-blue-300 duration-300 text-5xl w-max h-max translate-y-full"
                    x-on:click="activeSlide = activeSlide === slides.length - 1 ? 0 : activeSlide + 1">
                    &#8594;
                    </button>
                </div>
            </div>

            <!-- Buttons -->
            <div class="absolute w-full flex items-center justify-center px-14">
                <template x-for="(slide, index) in slides" :key="index">
                    <button
                    class="flex-1 w-4 h-2 mt-4 mx-2 mb-0 rounded-full overflow-hidden transition-colors duration-300 ease-out hover:bg-blue-600 hover:shadow-lg max-w-16"
                    :class="{ 
                        'bg-blue-600': activeSlide === index,
                        'bg-blue-300': activeSlide !== index 
                    }" 
                    x-on:click="activeSlide = index"
                    ></button>
                </template>
            </div>

            {% endif %}
        </div>
    </div>

    <h1 class="text-4xl font-bold text-center">{{ trick.name }}</h1>

    <div class="flex justify-center items-center">
        <p class="text-lg text-center py-14">{{ trick.description }}</p>
    </div>

    {% if app.user %}
        {% include 'comments/form.html.twig' %}
    {% endif %}

    {% if comments|length > 0 %}
        <h2 class="text-2xl font-bold text-center mt-16">Commentaires</h2>
        {% for comment in comments %}          
            <div class="w-full max-w-md px-8 py-4 mt-10 bg-white rounded-lg shadow-lg mx-auto">
                <p class="mt-2 text-sm text-gray-600">{{ comment.message }}</p>

                <div class="flex mt-4 gap-x-4 items-center max-h-10">
                    <img class="object-cover w-10 h-10 rounded-full" src="{% if comment.user.profilePicture == null %}{{ asset('images/user-solid.svg') }}{% else %}{{ asset('images/') }}{{ comment.user.profilePicture }}{% endif %}" alt="avatar" class="w-8 h-8 rounded-full ml-2">
                    <p class="text-lg font-medium text-blue-600" tabindex="0" role="link">{{ comment.user.firstname }} {{ comment.user.lastname }}</p>
                </div>
                {% if app.user and app.user.id == comment.user.id %}
                <div x-data="{ show: false }">
                    <div class="form-modif" x-show="show">
                        {{ form_start(commentsModificationForms[comment.id]) }}
                        {{ form_widget(commentsModificationForms[comment.id].message, 
                        { 'attr': {'class': 'block mt-2 w-full rounded-lg border border-gray-200 bg-white px-4 h-32 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40',
                        'placeholder': ''} }) }}
                        {% if form_errors(commentsModificationForms[comment.id].message) %}
                            <div class="text-red-500 text-sm">{{ form_errors(commentsModificationForms[comment.id].message) }}</div>
                        {% endif %}
                        <button type="submit" class="submit-primary float-right">Modifier</button>
                    {{ form_end(commentsModificationForms[comment.id]) }}
                    </div>
                        <button x-show="!show" @click="show = true" class="submit-primary float-right">Modifier</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="flex justify-end gap-x-4">
            {% if page > 1 %}
                <a href="{{ path('app_trick_show', {page: page - 1, slug: trick.slug}) }}" class="button-primary">Commentaires précédents</a>
            {% endif %}
            {% if page < maxPages %}
                <a href="{{ path('app_trick_show', {page: page + 1, slug: trick.slug}) }}" class="button-primary">Commentaires suivants</a>
            {% endif %}
        </div>
    {% endif %}
</div> 
{% endblock %}
